@charset "utf-8";
*{
	font-family: "Microsoft NeoGothic", "Hiragino Kaku Gothic Pro", "Dotum", "Meiryo UI", "AppleSDGothicNeo", "Meiryo UI", "Malgun Gothic","Yoon Gothic",sans-serif;
}
#wraper {
	margin:0 auto;
	padding:0;
	width: 946px;
	height: 100%;
	border:1px solid #06f;
}
#header {
	background-image: url(images/byg_m.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 945px;
	height: auto;
	line-height:1;
	margin:0;
	padding:0;
}
nav{
	padding: 0;
	margin: 0;
}
.inner {
	padding-top: 1px;
}
.inner h1 {
	width: 300px;
	height: 41px;
	line-height: 120%;
	padding-top: 2%;
	margin-left: 5%;
}
.inner2 {
	margin-left: 6%;
}
.inner3 {
	margin-right:5%;
	margin-bottom: 0;
}
.inner3 p {
	text-align: right;
	padding-bottom: 1em;
}
.underin3 {
	font-size: 21px;
	margin: 0;
	padding: 0;
}

/* navigation*/

.gnavi {
	margin: 0 auto;
	width: 945px;
	background-position: center;
	line-height: 1;
}

.gnavi ul {
	display:inline-flex;
	margin:0;
	padding: 0;
	border-bottom:2px solid #06F;
	background-color: #DBDBE3;
	list-style-type: none;
}
.navi a {
	display: block;
	text-indent: -9999px;
	height: 50px;
}
.navi1 {
	background-image: url(images/navi20160726ol.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width: 152px;
}
.navi2 {
	background-image: url(images/navi20160726ol.gif);
	background-repeat: no-repeat;
	background-position: -152px top;
	width: 250px;
}
.navi3 {
	background-image: url(images/navi20160726ol.gif);
	background-repeat: no-repeat;
	background-position: -400px top;
	width: 200px;
}
.navi4 {
	background-image: url(images/navi20160726ol.gif);
	background-repeat: no-repeat;
	background-position: -620px top;
	width: 150px;
}
.navi5 {
	background-image: url(images/navi20160726ol.gif);
	background-repeat: no-repeat;
	background-position: -800px top;
	width: 193px;
}
.navi1:hover {
	background-position: left bottom;
}
.navi2:hover {
	background-position: -152px bottom;
}
.navi3:hover {
	background-position: -400px bottom;
}
.navi4:hover {
	background-position: -620px bottom;
}
.navi5:hover {
	background-position: -800px bottom;
}

#main {
	background-color: #fff;
	text-align: center;
}
#main  ul{
	list-style-type: none;
	margin: 1px auto 2px auto;
	display: flex;
	flex-direction: row;
	border-bottom: solid 2px #0066FF ;
}
#main ul li{
	height: 150px;
	width: 299px;
	margin: 0 auto;
}
#main ul li a:hover{
	display: block;
	height: 150px;
	border-bottom: 2.5px groove rgb(230, 8, 137);
}

.map img{
	width: 945px;
	padding: 0;
}
footer {
	text-indent: 0.2em;
	background-image: url(images/byg_m.jpg);
	height:210px;
	line-height: 1.5em;
	padding-top: 2em;
}
.qcode{
	display: flex;
	justify-content:space-around;
	text-align: center;
}
figure{
	text-align:	left;
}
figure figcaption{
	margin-top:0em;
	text-align: center;
}
.adress{
line-height: 2.1em;
}
.adress p strong{
	font-size: 21px;
	font-weight: 700;
}
#css-slider {
	overflow: hidden;
	text-align: center;
}
.slide-item {
	float: left;
	position: relative;
}
.slider-wrapper {
	width: 800%;
	height: 100%;
	position: relative;
	left: 0;
	will-change: transform;
	animation: slider 30s infinite;
}

@keyframes slider {
  0% { transform: translateX(0); }
  12% { transform: translateX(-945px); }
  24% { transform: translateX(-1890px); }
  36% { transform: translateX(-2835px); }
  48% { transform: translateX(-3780px); }
  60% { transform: translateX(-4725px); }
  72% { transform: translateX(-5670px); }
  84% { transform: translateX(-6615px); }
  100% { transform: translateX(0); }
}
